root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

[.editorconfig]
insert_final_newline = true

[.gitattributes]
insert_final_newline = true

[.gitignore]
insert_final_newline = true

[*.bat]
end_of_line = crlf
insert_final_newline = true
charset = unset

[*.md]
# markdown格式的缩进并非全局统一
indent_size = unset
tab_width = unset
insert_final_newline = true
# 关闭IDEA格式化，自动缩进存在问题
ij_formatter_enabled = false
