psutil==7.2.2
pydantic==2.13.4
pycryptodome==3.23.0
pyotp==2.9.0
qrcode==8.2
PyQt6==6.11.0
qt6-applications==6.5.0.2.3
pillow==12.2.0
Markdown==3.10.2
pymdown-extensions==10.21.3
pyinstaller==6.20.0
mypy==2.1.0
